*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif ;
    background-color: #a7a5a5;
}

.navbar {
    background-color: #fad185;
    box-shadow: 0 2px 6px o rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
    max-width: 1200px;
}

.nav-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 32px;
margin: 0 auto;
max-width: 1200px;
}

.nav-logo img {
    width: 200px;
    height: auto;
}

.nav-menu {
display: flex;
gap: 16px ;
list-style: none;
flex-wrap: wrap;
}

.nav-link {
    color: #FFF ;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    padding: 8px 16px;
}

.nav-link:hover {
    background-color:  #ffffff;
     color: #140406;
}