*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif ;
    background-color: #a0e1f5;
}

.navbar {
    background-color: #fad185;
    box-shadow: 0 2px 6px o rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 32px;
margin: 0 auto;
max-width: 1200px;
flex-wrap: wrap;
}

.nav-logo img {
    width: 200px;
    height: auto;
}

.nav-menu {
display: flex;
gap: 16px ;
list-style: none;
flex-wrap: wrap;
}

.nav-link {
    color: #FFF ;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    padding: 8px 16px;
}

.nav-link:hover {
    background-color:  #ffffff;
     color: #140406;
}

@media screen and ( max-width: 768px){
    .nav-container {
        flex-direction: column;
        align-items: start;
        padding: 16px;
    } 

.nav-logo{
width: 100%;
height: auto;

}
.nav-menu{
    flex-direction: column;
    gap: 8px;
    width: 100% ;
}
.nav-item{
    margin-top: 12px;
    width: 100%;
}

.nav-link{
    padding: 12px;
    width: 100%;
}
}