body {
    background-color: #a0e1f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px
}

.trainers-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0
}

.trainer-card {
    background-color: rgb(251, 255, 254); 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(100, 100, 100);
    overflow: hidden;
    flex: calc(33.3333% - 32px);
    max-width: calc(33.3333% -32px);
    min-width: 250px;
}

.trainer-image {
    width: 100%;
    height: 250px;
    object-fit:contain;
    background: linear-gradient(135deg, #f55b5b , #ffffff);
}

.trainer-info {
    padding: 20px;
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trainer-name {
    font-size: 18pt;
    text-transform: capitalize;
    color: rgb(71, 71, 71);
    padding: 6px 12px
}

.trainer-region {
    font-size: 14px;
    color: rgb(32, 14, 14);
    font-weight: bold;
    margin-top: 0px;
}

.trainer-badges {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    color: rgb(6,6,6);
    justify-content: center;
}

.trainer-status {
    font-size: 14px;
    color: rgb(6,6,6)
}
.trainer-status {
 display: inline-block;
    padding: 6px ;
    border-radius: 12px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.status-active {
        background: linear-gradient(135deg, #f7f30f, #111111);
}
.status-lid{
    background: linear-gradient(135deg, #117a21, #ecf574);
}

.status-cord {
        background: linear-gradient(135deg, #2083f3, #0e0185);
}

.status-art{
        background: linear-gradient(135deg, #f6fe00, #f70303);
}

.status-inves{
        background: linear-gradient(135deg, #6a6b6b, #b5f9cd);
}

.status-champion{
    background: linear-gradient(135deg, #03fff2, #f3fb7a);
}